@font-face {
    font-family: 'roboto_slab';
    src: url('fonts/robotoslab/RobotoSlab-Regular-webfont.eot');
    src: url('fonts/robotoslab/RobotoSlab-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/robotoslab/RobotoSlab-Regular-webfont.woff2') format('woff2'),
         url('fonts/robotoslab/RobotoSlab-Regular-webfont.woff') format('woff'),
         url('fonts/robotoslab/RobotoSlab-Regular-webfont.ttf') format('truetype'),
         url('fonts/robotoslab/RobotoSlab-Regular-webfont.svg#roboto_slabregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratbold';
    src: url('fonts/monserat/montserrat-bold-webfont.eot');
    src: url('fonts/monserat/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/monserat/montserrat-bold-webfont.woff2') format('woff2'),
         url('fonts/monserat/montserrat-bold-webfont.woff') format('woff'),
         url('fonts/monserat/montserrat-bold-webfont.ttf') format('truetype'),
         url('fonts/monserat/montserrat-bold-webfont.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'montserratregular';
    src: url('fonts/monserat/montserrat-regular-webfont.eot');
    src: url('fonts/monserat/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/monserat/montserrat-regular-webfont.woff2') format('woff2'),
         url('fonts/monserat/montserrat-regular-webfont.woff') format('woff'),
         url('fonts/monserat/montserrat-regular-webfont.ttf') format('truetype'),
         url('fonts/monserat/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   font-family: 'Montserrat', sans-serif; 
}
a{
    text-decoration: none;
    color: #fff;
}
li{
    list-style: none;
}
.page_header{
    display: flex;
    justify-content:space-between;
}
.top_section{
    background-image: url(img/fon_top.png);
    height: 770px;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
.section_inner{
    max-width: 1140px;
    margin:0 auto;
    padding: 0 20px;
}
.header_logo{
    margin-top: 40px;
    font-size: 22px;/*24px на 22px*/
    font-weight: bold;/*???????????????????????*/
    color: #fff;
}
.burger_menu{  /*бургер меню*/
    color: #fff;
    font-size: 22px;
    margin-top: 40px;
    border-radius: none;
}
.menu_topnav{
    display: none;
}
.menu_topnav li{
    font-size: 14px;
    margin-left: 30px;
    color: #fff;
}
.top_welcome{
    text-align: center;
}
.top_welcome h1{
   margin-top: 160px;/*265px на 160px*/
   font-size: 38px;/*48px на 38px*/
    font-weight:normal;
}
.top_welcome p{
    font-size: 16px;/*20px на 16px*/
    margin-top: 35px;
    margin-bottom: 50px;
    font-family:'roboto_slab', serif;
}
.top_welcome a{
    font-size: 14px;/*16px на 14px*/
    border-radius: 0px;
    padding: 12px 28px;/*20px 40px на 12px 28px*/
    border: 2px solid #fff;
}
@media screen and (min-width: 768px){
    .top_section{
        /*background: blue;
    }*/
}
@media screen and (min-width: 992px){
.page_header{
    display: flex;
    justify-content:space-between;
}
.top_section{
    background-image: url(img/fon_top.png);
    height: 770px;
    background-repeat: no-repeat;
    background-size: contain;
    color: #fff;
    /*background: blue;*/
}
.header_logo{
    display: inline-block;
    margin-top: 40px;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}
.burger_menu{
    display: none;
    }
.menu_topnav{
    display: flex;
    margin-top: 40px;
}
.menu_topnav li{
    font-size: 14px;
    margin-left: 30px;
    color: #fff;
}
.top_welcome{
    text-align: center;
}
.top_welcome h1{
   margin-top: 265px;
   font-size: 48px;
   font-weight:normal;/*????????*/
}
.top_welcome p{
    font-size: 20px;
    margin-top: 35px;
    margin-bottom: 50px;
    font-family:'roboto_slab', serif;
}
.top_welcome a{
    font-size: 16px;
    border-radius: 0px;
    padding: 20px 40px;
    border: 2px solid #fff;
}
}
    















