@font-face {
    font-family: 'roboto_slab';
    src: url('fonts/robotoslab/RobotoSlab-Regular-webfont.eot');
    src: url('fonts/robotoslab/RobotoSlab-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/robotoslab/RobotoSlab-Regular-webfont.woff2') format('woff2'),
         url('fonts/robotoslab/RobotoSlab-Regular-webfont.woff') format('woff'),
         url('fonts/robotoslab/RobotoSlab-Regular-webfont.ttf') format('truetype'),
         url('fonts/robotoslab/RobotoSlab-Regular-webfont.svg#roboto_slabregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat';
    src: url('fonts/monserat/montserrat-regular-webfont.eot');
    src: url('fonts/monserat/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/monserat/montserrat-regular-webfont.woff2') format('woff2'),
         url('fonts/monserat/montserrat-regular-webfont.woff') format('woff'),
         url('fonts/monserat/montserrat-regular-webfont.ttf') format('truetype'),
         url('fonts/monserat/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat';
    src: url('fonts/monserat/montserrat-bold-webfont.eot');
    src: url('fonts/monserat/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/monserat/montserrat-bold-webfont.woff2') format('woff2'),
         url('fonts/monserat/montserrat-bold-webfont.woff') format('woff'),
         url('fonts/monserat/montserrat-bold-webfont.ttf') format('truetype'),
         url('fonts/monserat/montserrat-bold-webfont.svg#montserratbold') format('svg');
    font-style: normal;
    font-weight: bold;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'montserrat', sans-serif;
}
a{
    text-decoration: none;
    color: #fff;
}
li{
    list-style: none;
}
.page_header{
    display: flex;
    justify-content:space-between;
}
.top_section{
    background-image: url(img/fon_top.png);
    height: 100vh;
    min-height: 540px;
    max-height: 680px;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
.section_inner{
    max-width: 1140px;
    margin:0 auto;
    padding: 0 30px;
}
.header_logo{
    margin-top: 40px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}
.burger_menu{
    color: #fff;
    font-size: 22px;
    margin-top: 40px;
    border-radius: none;
    background: none;
    border: 0;
}
.menu_topnav{
    display: none;
}
.top_welcome{
    text-align: center;
}
.top_welcome h1{
    margin-top: 170px;
    font-size: 38px;
    font-weight:normal;
}
.top_welcome p{
    font-size: 16px;
    margin-top: 35px;
    margin-bottom: 50px;
    font-family:'roboto_slab', serif;
}
.top_welcome a{
    display: inline-block;
    font-size: 14px;
    border-radius: 0px;
    padding: 14px 30px;
    border: 2px solid #fff;
}
/*----------------SERVICES------------------*/
main{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.main_services h2{
    margin-top: 50px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 18px;
    font-weight:normal;
    color: #646464;
}
.services_line{
    border: 0;
    border-top: 1px solid #646464;
    width: 50px;
    margin: 0 auto;
}
.services_description {
    margin-top: 15px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 13px;
    font-family:'roboto_slab', serif;
    color: #646464;
}
.service_list{
    display: flex;
    justify-content: center;
    color: #646464;
    text-align: center;
    margin-bottom: 50px;
}
.service_list p{
    font-size: 10px;
    font-family:'roboto_slab', serif;
}
.service_item{
    margin-right: 20px;
    font-size: 14px;
    margin-bottom: 20px;
}
.service_item:first-child .icon_services{
    background: #c0301c;
}
.service_item:last-child{
    margin-right: 0;
}
.service_item h3{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 11px;
    font-weight:normal;
}
.icon_services{
   width: 65px;
   height: 65px;
   border: 2px solid #e2e2e2;
   border-radius: 100%;
   display: inline-block;
   line-height: 56px;
   }
.icon_services img{
   vertical-align: middle;
}

/*------------about_us--------------------*/
.section_about_us{ 
    background: #f8f8f8;
    color: #646464;
}
.about_us_title {
    text-align: center;
}
.about_us_title h2{
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: normal;
}
.about_us_line{
    border: 0;
    border-top: 1px solid #646464;
    width: 50px;
    margin: 0 auto;
}
.about_us_title p{
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 13px;
    font-family:'roboto_slab', serif;
}
.about_us_list{
    display: flex;
    justify-content:space-between;
    font-size: 10px;
    text-align: left;
    font-family:'roboto_slab', serif;
    line-height: 1.5;
}
.about_us_list p{
    margin-right: 20px;
}
.about_us_list p:last-child{
    margin-right: 0;
}
.about_us_photo_wrapper{
    position: relative;
}
.button_left, 
.button_right{
    position: absolute;
    height: 15px;
    width: 15px;
    font-family:'roboto_slab', serif;
    font-size: 10px;
    background: #8d8d8d;
    border: 0;
    color: #fff;
    line-height: 15px;
    top: 35%;
}
.button_left{
     z-index: 90;
     left: 0;
}
.button_right{
    z-index: 100;
    right: 0;
}
.button_left:hover,
.button_right:hover {
    background: #c0301c;
}
.about_us_photo{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 50px;
}
.about_us_photo li{
    margin-right: 2%;
    font-size: 10px;
    width: 23.5%;
    text-align: center;
}
.about_us_photo li:last-child{
    margin-right: 0;
}
.about_us_photo span{
    font-family:'roboto_slab', serif;
    font-size: 9px;
    display: block;
}
.avatar_wrapper{
    position: relative;
    margin-bottom: 10px;
}
.about_us_photo .avatar{
    width: 100%;
    vertical-align: top;
}
.photo_dark{
    position: absolute;
    left:0;
    right: -2px;
    top:0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    display: none;
}
.about_us_photo li:hover .photo_dark{
    display: block;
}
.media_contacts{ 
    position: absolute;
    left: 0;
    bottom:15px;
    line-height: 5px;
    width: 100%;
    text-align: center;
}
.media_contacts a{
    width: 22px;
    height: 22px;
    margin: 0 1px;
    display: inline-block;
    line-height: 20px;
}
.media_contacts img {
    vertical-align: middle;
}
.media_contacts a:hover{
    background: #c0301c;
}
/*--------------latest works ----------*/
.latest_works_title{
    text-align: center;
    color: #555555;
    margin-bottom: 40px;
}
.latest_works_title h2{
    font-size: 18px;
    margin: 50px 0 30px 0;
    font-weight:normal;
}
.latest_works_line{
    border: 0;
    border-top: 1px solid #646464;
    width: 50px;
    margin: 0 auto;
}
.latest_works_menu a{
    font-family:'roboto_slab', serif;
    color: #555555;
    font-size: 13px;
    margin: 30px 30px 0 0;
}
.latest_works_menu{
    margin-top: 30px;
}
.latest_works_menu a:hover{
    color: #c0301c;
}
.latest_works_photo_section{
    display:flex;
    justify-content: center;
    margin-bottom: 30px;
}
.latest_works_photo_album{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.latest_works_photo_album li{
    width: 48%;
    margin-bottom: 4%;
}
.latest_works_photo_album .branding{
    width: 100%;
    vertical-align: top;
}
.latest_works_photo_album li:last-child{
    margin-bottom: 0;
}
.latest_works_photo_section{
    position: relative;
}
.latest_works_dark h3{
    font:normal 18px 'montserrat', sans-serif;
    color: #fff;
}
.latest_works_dark p{
    font-family:'roboto_slab', serif;
    font-size: 12px;
    color: #fff;
}
.latest_works_photo_wrapper{
    position: relative;
}
.latest_works_photo_wrapper h3{
    margin-top: 50px;
}
.latest_works_photo_wrapper p{
    margin-top: 5px;
}
.latest_works_button_center{
    display: inline-block;
    padding: 5px 10px;
    font-family:'roboto_slab', serif;
    font-size: 14px;
    background: #fff;
    border: 0;
    color: #d16c5f;
    margin-top: 15px;
}
.latest_works_dark{
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background:rgba(192,48,28,0.7);
    display: none;
    text-align: center;
}
.latest_works_photo_album li:hover .latest_works_dark{
    display: block;
}
.latest_works_photo_section{
    margin-bottom: 50px;
}

/* ------------section_paralax -----------*/
.section_paralax{
    background-image: url(img/parallax.png);
    background-repeat: no-repeat;
    background-size:cover;
    text-align: center;
    padding: 50px 0 50px 0;
}
.section_paralax p{
    color: #fff;
    font:normal 20px 'roboto_slab', serif;
}
.our_work_button_center{
    display: inline-block;
    padding: 10px 20px;
    font-family:'roboto_slab', serif;
    font-size: 12px;
    border: 2px solid #fff;
    color: #fff;
    margin-top:25px;
}
.our_work_button_center:hover{
    color: #d16c5f;
    background: #fff;
}
/* --------------- blog -----------------*/
.recent_blog_title h2{
    text-align: center;
    color:#555555;
    font-size: 18px;
    font-weight: normal;
    margin: 50px 0 30px 0;
}
.recent_blog_line{
    border: 0;
    border-top: 1px solid #646464;
    width: 50px;
    margin: 0 auto;
}
.recent_blog_title p{
    text-align: center;
    color:#555555;
    font-size: 13px;
    font-family:'roboto_slab', serif;
    margin: 30px 0 40px 0;
}
.startup_blog{
    display: flex;
}
.startup_blog img{
    width: 40%;
    height: 40%;
}
.startup_blog_header{
    display: flex;
}
.startup_blog_date{
    border-radius: 0px;
    padding: 10px;
    border: 1px solid #555555;
    margin: 0 10px 5px 0;
    text-align: center;
}
.date_number{
    font:bold 12px 'montserrat', sans-serif;
    color: #555555;
    text-align: center;
}
.date_month{
    font:bold 10px'montserrat', sans-serif;
    color: #555555;
}
.name_author{
    text-align: left;
}
.name_author h3{
    font:normal 12px 'montserrat', sans-serif;
    color: #555555;
    padding-bottom: 5px;
}
.name_author a{
    font: italic 10px 'roboto_slab', serif;
    color: #555555;
}
.name_author a:hover{
    color: red;
}
.startup_blog_list p{
    font-size: 12px;
    color: #555555;
    font-family:'roboto_slab', serif;
    margin-bottom: 10px;
}
.startup_blog_list{
    color: #555555;
    font-size: 12px;
    font-family:'roboto_slab', serif;
    margin-left: 10px;
}
.startup_blog{
    display: flex;
    color: #555555;
    margin-top: 40px;
}
.startup_blog_read{
    font-size: 12px;
    color: #555555;
}
.startup_blog_list a:hover{
    color: red;
}

@media screen and (min-width: 768px){
    .top-section {
        max-height: 770px;
    }
    .header_logo{
        font-size: 24px;
    }
    .burger_menu{
        font-size: 24px;
    }
    .top_welcome h1{
       font-size: 40px;
    }
    .top_welcome p{
       font-size: 18px;
    }
    .top_welcome a{
       font-size: 16px;
       padding: 16px 32px;
    }
    /*---------------services-------------*/
    .main_services h2{
        margin-bottom: 30px;
    }
    .services_description {
        margin-top: 30px;
        margin-bottom: 50px;
        font-size: 16px;
    }
    .service_item h3{
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 13px;
    }
    .service_list p{
       font-size: 12px;
    }
    .icon_services{
       width: 75px;
       height: 75px;
       line-height: 66px;
    }
    /*----------------about us------------*/
    .about_us_title p{
        font-size: 16px;
    }
    .about_us_list{
        font-size: 12px;
    }
    .button_left, 
    .button_right{ 
        height: 25px;
        width: 25px;
        font-size: 14px;
        line-height: 25px;
    }
    .media_contacts {
        bottom: 25px;
    }
    .about_us_photo li{
        font-size: 12px;
    }
    .about_us_photo span{
        font-size: 10px;
    }
    /*-------------latest_works----------*/
    .latest_works_menu a{
        font-size: 16px;
    }
    .latest_works_title{
        margin-bottom: 50px;
    }
    .latest_works_photo_wrapper h3{
        margin-top: 90px;
    }
    .latest_works_button_center{
        margin-top: 25px;
        padding: 8px 17px;
    }
    .latest_works_photo_wrapper p{
        margin-top: 15px;
    }
/* --------- section_paralax -----------*/
    .section_paralax p{
        font-size: 26px;
    }
    .our_work_button_center{
        padding: 13px 20px;
        font-size: 14px;
    }   
}
@media screen and (min-width: 992px){
    .top_section{
       height: 770px;
    }
    .header_logo{
       font-size: 24px;
    }
    .burger_menu{
       display: none;
    }
    .menu_topnav{
        display: flex;
        margin-top: 40px;
    }
    .menu_topnav li{
        font-size: 14px;
        margin-left: 30px;
        color: #fff;
    }
    .top_welcome h1{
       margin-top: 250px;
       font-size: 48px;
    }
    .top_welcome p{
       font-size: 20px;
    }
    .top_welcome a{
       font-size: 16px;
       padding: 20px 40px;
    }

    /*---------------SERVICES------------*/
    .main_services h2{
        margin-bottom: 30px;
        font-size: 20px;
    }
    .services_line{
        border-top: 2px solid #646464;
    }
    .services_description{
        margin-top: 30px;
        margin-bottom: 50px;
        font-size: 16px;
    }
    .service_item{
        margin-right: 20px;
    }
    .service_item h3{
        margin-top: 30px;
        margin-bottom: 25px;
        font-size: 14px;
    }
    .service_item p{
        font-size: 14px;
        line-height:1.7;
    }
    .icon_services{
        width: 85px;
        height: 85px;
        line-height: 78px;
    }
    /*---------------about us----------*/
    .about_us_title h2{
        margin-top: 100px;
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: normal;
    }
    .about_us_line{
        border-top: 2px solid #646464;
    }
    .about_us_title p {
        margin-top: 30px;
        margin-bottom: 70px;
        font-size: 16px;
    }
    .about_us_list{
        font-size: 14px;
    }
    .about_us_list p {
        margin-right: 30px;
    }
    .button_left, 
    .button_right{
        height: 35px;
        width: 35px;
        font-size: 20px;
        line-height: 17px;
    }
    .media_contacts{
        bottom:35px;
        line-height: 35px;
    }
    .media_contacts a{
        width: 28px;
        height: 28px;
        line-height: 26px;
    }
    .about_us_photo li:hover .photo_dark{
        display: block;
    }
    .about_us_photo{
        margin-top: 70px;
    }
    .avatar_wrapper{
        margin-bottom: 20px;
    }
    .about_us_photo li{
        font-size: 14px;
    }
    .about_us_photo span{
        font-size: 13px;
    }
     /*-------------latest_works----------*/
    .latest_works_title h2{
        font-size: 20px;
        margin-top: 100px;
    }
    .latest_works_title{
        margin-bottom: 70px;
    }
    .latest_works_line{
        border-top: 2px solid #646464;
    }
    .latest_works_menu a{
        font-size: 16px;
    }
    .latest_works_photo_album li{
        width: 30%;
    }
    .latest_works_photo_wrapper h3{
        margin-top: 95px;
    }
    .latest_works_button_center{
        margin-top: 25px;
        padding: 10px 20px;
    }
    .latest_works_photo_section{
        margin-bottom: 100px;
    }
/* ----------  section_paralax -----------*/
    .section_paralax p{
        font-size: 30px;
    }
    .our_work_button_center{
        padding: 15px 25px;
        font-size: 18px;
        margin:50px 0 0 0;
    } 
    .section_paralax{
        padding: 100px 0 100px 0;
    }
/* --------------- blog -----------------*/ 
    .section_recent_blog{
        margin-bottom: 100px;
    }
    .startup_blog img{
        width: 45%;
    }
    .recent_blog_title h2{
        font-size: 20px;
        margin: 100px 0 30px 0;
    }
    .recent_blog_line{
        border-top: 2px solid #646464;
        width: 50px;
    }
    .recent_blog_title p{
        font-size: 16px;
        margin: 30px 0 70px 0;
    }
    .startup_blog_date{
        padding: 20px;
        border: 2px solid #555555;
        margin: 0 30px 20px 0;
    }
    .date_number{
        font-size: 24px;
    }
    .date_month{
        font-size: 14px;
    }
    .name_author h3{
        font-size: 16px;
        padding-bottom: 20px;
    }
    .name_author a{
        font-size: 13px;
    }
    .startup_blog_list p{
        font-size: 14px;
        margin-bottom: 35px;
    }
    .startup_blog_list{
        font-size: 14px;
        margin-left: 40px;
    }
    .startup_blog_read{
        font-size: 16px;
    }
}
















